.AddContent {
  width: 100%;
  height: max-content;
  background: rgba(47, 128, 237, 0.1);
  padding: 60px 0;
}

.AddContent_parent {
  width: 100%;
  display: flex;
  gap: 30px;
}

.AddContent_container {
  width: 90%;
  font-family: Rubik;
  margin: 0 auto;
}

.AddContent_labels span {
  height: 40px;

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.AddContent_labels span p {
  color: #0ba9cc;
}

.AddContent h1 {
  padding: 30px 0;
  font-weight: 600;
  font-size: 32px;
  color: #222;
}

.AddContent_left {
  width: 100%;
  height: max-content;
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
}

.AddContent_left_desc {
  padding-bottom: 24px;
}

.AddContent_left textarea {
  width: 100%;
  height: 90px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  padding: 16px;
  margin-top: 12px;
  color: #222;
  font-family: Rubik;
  font-weight: 400 !important;
  font-size: 16px;
  resize: vertical;
}

.AddContent_left input {
  width: 100%;
  height: 48px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  padding-left: 16px;
  margin-top: 12px;
  color: #222;
  font-family: Rubik;
  font-weight: 600;
  font-size: 16px;
}

.AddContent_sfera {
  padding: 24px 0;
}

.AddContent_sfera_routes {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.AddContent_left_file {
  width: 100%;
  height: 80px;
  background: rgba(47, 128, 237, 0.1);
  border: 2px dashed #2f80ed;
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 22px;
}

.active {
  color: #fff !important;
  background: #2f80ed !important;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  font-family: Rubik;
}

.AddContent_left_file input[type="file"] {
  display: none;
}

.AddContent_left_file label {
  cursor: pointer;
}

.AddContent_left_file label span {
  color: #2f80ed;
}

.AddContent_sfera_routes button {
  padding: 12px 18px;
  background: rgba(34, 34, 34, 0.05);
  border-radius: 8px;
  border: none;
  color: #2f80ed;
  font-weight: 500;
  font-size: 14px;
  font-family: Rubik;
}

.AddContent_sfera_routes button:active {
  color: #fff;
  background: #2f80ed;
}

.AddContent_right {
  width: 100%;
  max-width: 336px;
  height: max-content;
  padding: 24px;

  font-family: Rubik;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.AddContent_right h4 {
  color: #222;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 16px;
}

.AddContent_right input {
  width: 100%;
  height: 48px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 0 16px;
  outline: none;
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
}

.AddContent_right .chernovik {
  width: 100%;
  height: 48px;

  border: #0ba9cc 3px solid;
  background: #fff;
  color: #0ba9cc;
  font-family: Rubik;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.AddContent_right .chernovik:active {
  background: #0ba9cc;
  color: #fff;
}

.AddContent_right .share {
  width: 100%;
  height: 48px;

  border: #0ba9cc 3px solid;
  background: #0ba9cc;
  color: #fff;
  font-family: Rubik;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
}

.AddContent_right .share:active {
  background: #fff;
  color: #0ba9cc;
}

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222;
  background-color: transparent;
}

::-webkit-calendar-picker-indicator {
  background: url("../../assets/icons/date.svg");
  width: 14.5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.shareDis {
  width: 100%;
  height: 48px;

  border: #0ba9cc 3px solid;
  background: #0ba9cc;
  color: #fff;
  font-family: Rubik;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  cursor: not-allowed;
  opacity: 0.4;
}
