.home_section {
  width: 100%;
  height: max-content;

  background: rgba(47, 128, 237, 0.1);
}

.container {
  width: 90%;
  margin: 0 auto;
  font-family: Rubik;
  padding: 60px 0;
}

.home_section_label {
  text-align: center;
  color: #000;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 40px;
}

.home_section_parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.home_section_card {
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.card_head {
  display: flex;
  justify-content: space-between;
}

.card_head_left_side h2 {
  color: #631ac0;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.card_head_left_side p {
  color: rgba(34, 34, 34, 0.8);
  font-weight: 400;
  font-size: 16px;
}

.home_section_card_body {
  padding-top: 20px;
}

.home_section_card_body h3 {
  font-weight: 600;
  font-size: 20px;
  color: #222;
  padding-bottom: 20px;
}

.home_section_card_body p {
  color: rgba(34, 34, 34, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.card_head {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(34, 34, 34, 0.05);
}

.moreDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.moreDiv button {
  width: 248px;
  height: 48px;
  border-radius: 8px;

  color: #fff;
  background: #631ac0;
  border: 2px solid #631ac0;
  margin-top: 30px;
  transition: 0.5s ease;
  font-family: Rubik;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.18px;
  cursor: pointer;
}

.moreDiv button:hover {
  color: #631ac0;
  background: transparent;
  transition: 0.5s ease;
}

@media all and (max-width: 1216px) {
  .home_section_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media all and (max-width: 768px) {
  .home_section_parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
