.lk_main_update {
  width: 100%;
  height: max-content;

  background: rgba(47, 128, 237, 0.1);
  padding: 60px 0;
}

.lk_main_container {
  width: 90%;
  margin: 0 auto;
  font-family: Rubik;
}

.lk_main_container h1 {
  font-weight: 600;
  font-size: 24px;
}

.lk_main_card_parent,
.lk_main_sub_card_parent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.lk_main_card_parent textarea {
  width: 100%;
  height: 15vh;

  resize: vertical;
  padding: 15px;
  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  line-height: 24px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
}

.lk_main_sub_card_parent textarea {
  width: 100%;
  height: 24vh;

  resize: vertical;
  padding: 15px;
  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  outline: none;
  line-height: 24px;
  font-family: Rubik;
  font-size: 16px;
}

.lk_main_container h4 {
  font-size: 18px;
  font-weight: 600;
}

.lk_main_card_btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 50px 0;
}

.Temp_update {
  height: 50px;
  width: 50px;
  margin: 0 20px;
  border: 2px solid #2f80ed;
  border-radius: 8px;
  background: #fff;
  transition: 0.5s ease;
}

.Temp_update:hover {
  transform: scale(1.1);
  background: transparent;
  transition: 0.5s ease;
}

.Temp_back {
  height: 50px;
  width: 90px;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 8px;
  background: #fff;
  color: gray;
  transition: 0.5s ease;
}

.Temp_back:hover {
  color: #fff;
  background: gray;
  transition: 0.5s ease;
}
