.templates_parent {
  width: 100%;
  background: rgba(47, 128, 237, 0.1);
}

.templates_container {
  width: 90%;
  margin: auto;
  font-family: Rubik;
  padding-top: 60px;
  padding-bottom: 110px;
}

.templates_card {
  padding: 30px;
  background: #fff;
  border-radius: 16px;
}
.templates_card p {
  line-height: 26px;
  letter-spacing: 0.3px;
}

.templates_parent button {
  width: 159px;
  height: 48px;

  border: 2px solid rgba(34, 34, 34, 0.4);
  float: right;
  margin-top: 20px;
  background: none;
  border-radius: 8px;
  color: rgba(34, 34, 34, 0.4);
  font-weight: 600;
  font-size: 16px;
}
