.userNav {
  width: 100%;
  height: max-content;

  background: url("../../assets/imgs/footer.png") no-repeat center center/cover;
}

.userNav_container {
  width: 90%;

  margin: 0 auto;
  font-family: Rubik;
}

.userNav_lists {
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.til {
  width: 100px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  font-family: Rubik;
  background: transparent;
  color: #fff;
}

.til:focus {
  border: none;
}
.til__opt:hover {
  border: none;
  background: transparent;
}


select option {
  background: #fff;
  color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.userNav_right_lists {
  display: flex;
  gap: 30px;
}

.nav_avtor_content {
  display: block;
  color: #fff;
}

.nav_avtor_content p {
  font-weight: 300;
  font-size: 14px;
  padding-top: 3px;
  cursor: pointer;
}

.nav_avtor_content b {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.avatar_link img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.admin_routes {
  width: 100%;
  height: 72px;

  display: flex;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
}

.admin_routes a {
  color: #fff;
  padding: 10px 20px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.author_routes {
  width: 100%;
  height: 72px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.author_routes a {
  color: #fff;
  padding: 10px 20px;
}
