footer{
       background: url('../../assets/imgs/footer.png') no-repeat center center/cover;
       width: 100%;
       height: max-content;
       color: #fff;
}

.container {
       width: 90%;
       margin: 0 auto;
       font-family: Rubik;
}

.footer_parent{
       display: grid;
       grid-template-columns: repeat(4,1fr);
       padding: 40px 0;
}

.footer_parent .twink {
       height: 32px;

       display: flex;
       align-items: center;
       justify-content: flex-start;
       gap: 20px;
}

.footer_parent h6{
       font-weight: 400;
       font-size: 20px;
       padding-bottom: 16px;
}

.twink p {
       font-size: 14px;
       font-weight: 400;
       color: rgba(255, 255, 255, 0.671);
}

.twink2,.twink3{
       padding-top: 10px;
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       gap: 20px;
}

.twink3{
       display: none;
}

.twink2 p, .twink3 p {
       font-size: 13px;
       font-weight: 300;
       color: rgba(255, 255, 255, 0.671);
}

.twink img {
       width: 30px;
       height: 30px;
}

.footer_center_content{
       height: 100px;

       display: flex;
       justify-content: center;
       align-items: center;
}

.footer_center_content p {
       text-align: center;
       font-size: 14px;
       font-weight: 400;
       line-height: 21px;
       color: rgba(255, 255, 255, 0.671);
}

.logofff_link img{
       width: 70%;
}


@media all and (max-width: 1127px) {
       .footer_parent{
              display: grid;
              grid-template-columns: repeat(3,1fr);
              padding-bottom: 30px;
       }
       .logofff_link img{
              width: auto;
       }
}


@media all and (max-width: 952px) {
       .footer_parent{
              grid-template-columns: repeat(2,1fr);
       }
       .twink2{
              display: none;
       }
       .twink3{
              display: flex;
              padding-top: 0;
       }
       .footer_parent h6 {
              padding-top: 40px;
       }
}

@media all and (max-width: 700px) {
       .logofff_link img{
              width: 200px;
              margin-right: 20px;
       }
       .twink3 p {
              font-size: 10px;
              font-weight: 300;
              color: rgba(255, 255, 255, 0.671);
       }
       .footer_parent h6 {
              padding-top: 40px;
              font-size: 14px;
       }

       .twink p {
              font-size: 10px;
       }
}


@media all and (max-width: 475px) {
       .footer_parent{
              grid-template-columns: repeat(1,1fr);
       }
        .twink3 {
              justify-content: center;
              margin-top: 10px;
       }
       .logofff_link img{
              width: 70%;
              margin-right: 0;
       }
       .logofff_link{
              display: flex;
              justify-content: center;
              margin-bottom: 20px;
       }
       .phone_style{
              text-align: center;
              width: 100%;
       }
       .footer_parent .twink {
              height: 50px;
              
              display: block;
              padding: 10px 0 !important;
       }
       .footer_parent h6 {
              padding-top: 40px;
              font-size: 16px;
       }
}