.section_dropdown {
  position: relative;
}

.section_dropdown .title {
  cursor: pointer;
}

.section_dropdown .children_wrapper {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 100000000000000000000 !important;
}
