* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Rubik;
}

button {
  cursor: pointer;
}

textarea,
input {
  outline: none;
}

textarea:focus,
input:focus {
  border: 2px solid #2684ff !important;
}
