.structure_left_siderbar {
  width: 362px;
  height: auto;

  padding: 30px;
  color: #222222;
}

.structure_dropdown button,
.dropdown_without_child {
  width: 270px;
  background: transparent;
  border: none;
  text-align: start;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: Rubik;
  cursor: pointer;
}

.structure_dropdown ul {
  margin-left: 20px;
}

/* 
.structure_dropdown p {
  padding: 16px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.structure_dropdown p:hover {
  color: #631ac0;
} */

.structure_left_siderbar h2 {
  font-weight: 600;
  font-size: 20px;
}
