.spravochnikId_head {
  font-family: Rubik;
  padding: 60px 0;
  background: rgba(47, 128, 237, 0.1);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.spra_title_parent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.spra_element_parent form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
}

.spra_element_parent {
  width: 100%;
  display: grid;
  gap: 20px;
}

.spravochnik_params {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.spravochnik_params input {
  width: 100%;
  height: 40px;

  outline: none;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #222;
}

.spra_element_parent form input {
  width: 100%;
  height: 40px;

  outline: none;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #222;
  margin-top: 10px;
}
.spra_element_parent form input:focus {
  border-bottom: #631ac0 2px solid;
}

.inp_btn {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.spravochnik_params input:focus {
  border-bottom: #631ac0 2px solid;
}

.spravochnik_params .deleteParams {
  width: 40px;
  height: 40px;

  border-radius: 8px;
  background: #fff;
  border: 2px solid #eb5757;
}

.spravochnik_params .createParams {
  width: 40px;
  height: 40px;

  border: 2px solid #2f80ed;
  border-radius: 8px;
  background: #fff;
}

.createParams:active {
  background: #2f80ed;
}

.deleteParams:active {
  background: #eb5757;
}

.inp_btn .createParams {
  width: 40px;
  height: 40px;

  border: 2px solid #2f80ed;
  border-radius: 8px;
  background: #fff;
}

.inp_btn .deleteParams {
  width: 40px;
  height: 40px;

  border-radius: 8px;
  background: #fff;
  border: 2px solid #eb5757;
}

.createElement {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createElement button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  border: none;
  background: #631ac0;
  color: #fff;
  transition: 0.5s ease;
}

.createElement button:hover {
  transform: scale(1.3);
  transition: 0.5s ease;
  font-size: 30px;
}

.createElementForm {
  width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.createElementFormBtns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.shablon_cancel_btn {
  width: 120px;
  height: 48px;
  color: rgba(34, 34, 34, 0.6);
  border: 2px solid rgba(34, 34, 34, 0.6);
  border-radius: 8px;
  background: none;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s ease;
}

.shablon_cancel_btn:hover {
  background: rgba(34, 34, 34, 0.6);
  color: #fff;
  border: none;
  transition: 0.5s ease;
}

.shablon_save_btn {
  width: 130px;
  height: 48px;

  border-radius: 8px;
  border: 2px solid #0ba9cc;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background: #0ba9cc;
}

.shablon_save_btn:hover {
  background: #fff;
  color: #0ba9cc;
}

.createElementForm input {
  width: 100%;
  height: 40px;

  outline: none;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #222;
}

.createElementForm input:focus{
  border: #222 solid 1px;
}

.back{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}


.back button{
  background: #fff;
  color: gray;
  border: 2px solid gray;
}
